<figure class="interview-image" style="background-image:url('/public/art/full/{{id}}.jpg');{{#if offset}}background-position: 50% {{offset}}%;{{/if}}">
<a href="/submission/{{@../exhibition-id}}/{{this.id}}" title="{{this.caption}}"><figcaption><div><span>{{caption}}</span></div></figcaption></a>
</figure>
