<script src="/public/js/exhibit.js"></script>

<div class="hero-wrap">
    <img src="/public/img/banner/{{data.title}}.jpg">
    <div class="hero-info">
        <h1>{{data.number}} {{data.title}}</h1>
        <div class="tertiary-info">
            <span class="date">{{data.releaseDate}}</span>
            <span class="submission-count">{{data.art.length}} submissions</span>
            <nav role="nav">
              <!-- for now only interview. Eventually links to types of art -->
              <a href="#" id="newsToggle">Show News Release</a>
              <a href="/interviews/{{data.id}}">Read Interview with {{data.interviewArtist}}</a>
            </nav>
        </div>
    </div>
    <section id="exhibition-info">
      <div id="exhibition-description">{{{data.description}}}</div>
    </section>
</div>

{{> audio-player}}

<div class="artwork-list">
    {{#each data.art}}
        <figure class="artwork-thumbnail">
            <a href="/submission/{{@../id}}/{{this.id}}" title="{{this.title}}">
                {{#compare this.type "audio" operator="=="}}
                  <img src="/public/art/thumb/audiothumb.jpg" /></a>
                {{else}}
                  <img src="/public/art/thumb/{{this.id}}.jpg" /></a>
                {{/compare}}
                <figcaption>
                    <span>
                        <a href="/submission/{{@../id}}/{{this.id}}" title="{{this.title}}">
                            {{this.title}}
                        <span class="artist-name">
                            {{#each this.artist}}
                                <span class="artist-title">
                                    {{this.alias}}
                                </span>
                            {{/each}}
                        </span>
                        </a></span>
                </figcaption>
        </figure>
    {{/each}}




</div>
