<div class="hero-wrap">
    <img src="/public/img/banner/{{data.title}}.jpg">
    <div class="hero-info">
        <h1>{{data.number}} {{data.title}}</h1>
        <div class="tertiary-info">
            <span class="date">{{data.releaseDate}}</span>
            <span class="submission-count">{{data.art.length}} submissions</span>
            <nav role="nav">
              <!-- for now only interview. Eventually links to types of art -->
              <a href="#" id="newsToggle">Show News Release</a>
              <a href="/interviews/{{data.id}}">Read Interview with {{data.interviewArtist}}</a>
            </nav>
        </div>
    </div>
    <section id="exhibition-info">
      <div id="exhibition-description">{{{data.description}}}</div>
    </section>
</div>

<script src="/public/js/exhibit.js"></script>
<script src="/public/audioplayer/init-listplayer.js"></script>
  <!-- Insert to your webpage where you want to display the audio player -->
  <div id="audioplayer" style="display:block;position:relative;width:420px;height:auto;margin:0px auto 0px;">
      <ul class="amazingaudioplayer-audios" style="display:none;">
          <li data-artist="CP-R" data-title="Version 2 by CP-R" data-album="Final Evoke" data-info="" data-image="" data-duration="323">
              <div class="amazingaudioplayer-source" data-src="/public/art/full/version_2_by_cp-r.mp3" data-type="audio/mpeg" />
          </li>
          <li data-artist="Adrian Piciorea" data-title="Music that Evoked One Smile Forever by Adrian Piciorea" data-album="" data-info="" data-image="" data-duration="135">
              <div class="amazingaudioplayer-source" data-src="/public/art/full/music_that_evoked_one_smile_forever_by_adrian_piciorea.mp3" data-type="audio/mpeg" />
          </li>
      </ul>
      <div class="amazingaudioplayer-engine"><a href="http://amazingaudioplayer.com" title="html5 audio player">html5 audio player</a></div>
  </div>
  <!-- End of body section HTML codes -->

<div class="artwork-list">
    {{#each data.art}}
        <figure class="artwork-thumbnail">
            <a href="/submission/{{@../id}}/{{this.id}}" title="{{this.title}}">
                {{#compare this.type "audio" operator="=="}}
                  <img src="/public/art/thumb/audiothumb.jpg" /></a>
                {{else}}
                  <img src="/public/art/thumb/{{this.id}}.jpg" /></a>
                {{/compare}}
                <figcaption>
                    <span>
                        <a href="/submission/{{@../id}}/{{this.id}}" title="{{this.title}}">
                            {{this.title}}
                        <span class="artist-name">
                            {{#each this.artist}}
                                <span class="artist-title">
                                    {{this.alias}}
                                </span>
                            {{/each}}
                        </span>
                        </a></span>
                </figcaption>
        </figure>
    {{/each}}




</div>
