<div class="hero-wrap">
    <img src="/public/img/banner/{{data.title}}.jpg">
    <div class="hero-info">
        <h1>{{data.number}} {{data.title}}</h1>
        <div class="tertiary-info">
            <span class="date">{{data.releaseDate}}</span>
            <span class="submission-count">{{data.art.length}} submissions<span>
        </div>
    </div>
</div>

<div class="artwork-list">
<!--TODO: do this for each type of art -->
<!--TODO: make hasXXX for each category to determine whether to output -->
<!--TODO: and make category labels (i.e. nice big text) -->
<!--TODO: CATEGORIES: featured, art, photography, audio, collaborations -->
    {{#each data.art}}
        <figure class="artwork-thumbnail">
            <a href="/submission/{{@../id}}/{{this.id}}" title="{{this.title}}">
                {{#compare this.type "audio" operator="=="}}
                  <img src="/public/art/thumb/audiothumb.jpg" /></a>
                {{else}}
                  <img src="/public/art/thumb/{{this.id}}.jpg" /></a>
                {{/compare}}
                <figcaption>
                    <span>
                        <a href="/submission/{{@../id}}/{{this.id}}" title="{{this.title}}">
                            {{this.title}}
                        <span class="artist-name">
                            {{#each this.artist}}
                                <span class="artist-title">
                                    {{this.alias}}
                                </span>
                            {{/each}}
                        </span>
                        </a></span>
                </figcaption>
        </figure>
    {{/each}}




</div>
