<div class="hero-wrap">
	<img src="/public/img/interview/{{data.exhibition-id}}.jpg">
	<div class="hero-info">
		<h1>{{data.artist}}</h1>
    <h3>Interviewed by {{data.interviewer1}}
      {{#if data.interviewer2}}
        and {{data.interviewer2}}
      {{/if}}
    </h3>
	</div>
</div>

<article id="interview-content">

  <div id="interview-description">
    {{data.description}}
  </div>
  {{#each data.segments}}
    <div>
      <!-- this was stupid hard to figure out -->
      <!-- I set interview-segment to display:none for now -->
      {{> (lookup . 'type')}}
    </div>
  {{/each}}
</article>
