
<div class="hero-wrap">
    <img src="/public/img/archive-hero.jpg">
    <div class="hero-info">
        <h1>Memories</h1>
    </div>
</div>

<section class="memories">
{{#each memoryList.memories}}
		<figure class="memory">
			<h3>{{this.name}}</h3>
			<q>{{this.comments}}</q>
			<figcaption>{{this.date}}</figcaption>
		</figure>
    {{/each}}
</section>

<section class="memories-submit">
{{#form "/test" class="form"}}
	{{label "name" "Please enter your name"}}
	{{input "firstname" "Richard"}}
{{/form}}
</section>